<div class="lanmu_1">
  <h2><b>联系方式</b> / Contact</h2>
  <h3><b>行业资讯</b> / News</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> 
</div>
  <div class="index_zx">
  <div class="ft zx_l">
    <h3>名称: <%- connectUs.name %><br>
      电话:  <%- connectUs.tel %><br>
      传真: <%- connectUs.czTel %> <br>
      Q Q : <a href="#" rel="nofollow"><%- connectUs.QQ %></a> <br>
      邮箱: <%- connectUs.email %> <br>
      地址: <%- connectUs.address %> <br>
      厂址: <%- connectUs.comAddress %></h3>
  </div>
  <div class="fr zx_r">
    <div class="fr zx_ly">
      <form method="post" action="http://www.4000551009.com/plus/message.php" name="form1">
        <input type="hidden" name="action" value="save2">
        <input type="hidden" name="img" value="01">
        <input type="hidden" name="title" value="邮件订阅">
        <div class="dy_cn">
          <h3>姓名：</h3>
          <input name="uname" type="text" class="inp_ly">
          <div id="clear"></div>
          <h3>手机：</h3>
          <input name="homepage" type="text" class="inp_ly">
          <input name="订阅" type="submit" value="订阅">
        </div>
      </form>
    </div>
    <ul>
    <%  articleDocs.forEach(function(cate){ %>
    <%      if(cate.name == '行业资讯'){ %>
    <%          cate.typeArray.forEach(function(article,index){ %>
    <%                 if( index < 7){ %>
                          <li><a  href="/print/getAirticle?_id=<%- cate._id %>&_typId=<%- article._id %>"
                          title="<%- article.title %>">
                          <%- article.title %></a>
                          [<%- article.createDate.getFullYear()+"-"
                              + (article.createDate.getMonth()+1)+"-"
                              + article.createDate.getDate() %>]</li>
    <%                 } %>
    <%          }); %>
    <%      } %>
    <%  }); %>
    </ul>
  </div>
</div>