<div class="head">
  <div class="w100">
    <div class="ft"><a href="#" >印刷厂</a> <a href="#" >画册印刷</a> <a href="#" >纸袋定做</a> <a href="#" >合肥印刷公司</a> </div>
    <div class="fr"><a href="#" rel="nofollow" ><img src="images/ico01.gif"> 新浪微博</a><a href="#" rel="nofollow" >腾讯微博</a><a href="#" rel="nofollow" class="sc">加入收藏</a>|<a href="#" rel="nofollow">在线留言</a>|<a href="#" rel="nofollow">关于快马</a>|<a href="#">站点地图</a></div>
  </div>
</div>
<div class="logo_s">
  <div class="ft"><a href="#" rel="nofollow"><img src="images/logo.jpg" width="358" height="85"></a></div>
  <div class="fr"><a href="#" rel="nofollow" title="联系方式"><img src="images/head_lx.jpg"></a></div>
</div>
<div class="nav">
  <ul>
    <li class="nav_sy"><a href="#">快马首页</a></li>
     <%  productDocs.forEach(function(product){  %>
         <li class="nav_2"><a><%- product.title %></a>
          <h3>
         <%   product.typeArray.forEach(function(cate){    %>
               <a href="/print/product?_id=<%- product._id%>&_cateId=<%- cate._id %>" target="_BLANK"><%-  cate.cateName %></a>
        <%  }); %>
        </li>
      <% }); %>
    <li><a href="#" rel="nofollow">在线下单</a></li>
  </ul>
</div>