    <div class="ft"><b>热门关键词：</b><a href="#">家谱印刷</a> <a href="#">画册印刷</a> <a href="#">印刷公司</a> <a href="#">包装盒印刷</a> <a href="#">合肥印刷</a> </div>
    <div class="sousuo">
      <form name="formsearch" action="http://www.4000551009.com/plus/search.php">
        <input type="hidden" name="kwtype" value="0">
        <input type="hidden" name="searchtype" value="title">
        <input type="image" id="searchButton" src="images/ss_2.jpg" class="ss_2">
        <input name="q" type="text" onfocus="if(this.value==&#39;输入搜索关键词&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;输入搜索关键词&#39;;" value="输入搜索关键词" class="ss_1">
      </form>
    </div>
