<div class="lanmu_1">
  <h2><b>宏盛印务十大优势</b> / Superiority</h2>
  <h3>&nbsp;</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_ys">
  <div class="ft">
    <ul>
      <li><b>服务专业：</b>21年印刷经验，服务过12000家企业</li>
      <li><b>定点服务：</b>定点印刷，全面节省企业成本30%</li>
      <li><b>全面服务：</b>全系列产品，为广大中企业提供稳定印刷配套</li>
      <li><b>惊喜连连：</b>月月有活动，周周有特价</li>
      <li><b>免费设计：</b>专业的设计师团队</li>
    </ul>
  </div>
  <div class="fr">
    <ul>
      <li><b>质量保证：</b>每一件产品都力求完美</li>
      <li><b>方便可靠：</b>网络下单，物流配送，24小时送货</li>
      <li><b>交通便利：</b>立足乌鲁木齐，辐射全国</li>
      <li><b>产能超强：</b>印刷大户的福音，日均出产60吨</li>
      <li><b>设备齐全：</b>全系列进口印刷和印后设备</li>
    </ul>
  </div>
</div>