<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/back/resource/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="main" uploader="uploader">
<div class="place" >
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/back/page/#">首页</a></li>
    <li><a href="/back/page/#">模块设计</a></li>
    <li><a href="/back/page/#">图片</a></li>
    </ul>
    </div>
    <div class="rightinfo">
        <ts-tool ng-show="show.tools"></ts-tool>
        <ts-list  ng-show="show.list"></ts-list>
        <ts-add ng-show="show.add"></ts-add>
    </div>
</body>
<script type="text/ng-template" id="tools">
    <div class="tools">
       <ul class="toolbar">
	        <li ng-click="upPojo={};show.$set('add')"><span><img src="/back/resource/images/t01.png" /></span>添加</li>
	        <li  ng-click="upPojo = temp;show.$set('add')" ng-show="temp" >
	        	<span><img src="/back/resource/images/t02.png" /></span>修改</li>
	        <li ng-click="remove(temp)" ng-show="temp">
	        	<span><img src="/back/resource/images/t03.png" /></span>删除</li>
            <li ng-click="doSort(temp,-1)" ng-show="temp"><span</span>升序</li>
	        <li ng-click="doSort(temp,1)" ng-show="temp"><span</span>降序</li>
        </ul>
        <ul class="toolbar1">
        <li><span><img src="/back/resource/images/t05.png" /></span>设置</li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="list">
    <ul class="classlist"
           ng-repeat="data in datas | orderBy : 'sort' : asc">
    	<li     ng-click="li_click($index,data)"  ng-class="{focus:$index==focus}">
		<span><img ng-src="{{data.picUrl}}" width="106px" height="126px" /></span>
		<div class="lright">
		<h2>{{ data.title }}</h2>
		<p>排序：{{ data.sort  }}<br />是否显示：{{ data.show }}<br />学习中：6章</p>
		<a class="enter" ng-href="./proOption.html?">操作</a>
		</div>
    	</li>
    </ul>
    <div class="clear"></div>
</script>
<script type="text/ng-template" id="add">
    <div class="tools">
       <ul class="toolbar">
            <li ng-click="show.$set('list')"><span><img src="/back/resource/images/t04.png" /></span>统计</li>
        </ul>
    </div>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <form 
        name="subForm"
        ng-submit="save()"
        >
        <ul class="forminfo">
        <li><label>标题</label>
            <input  ng-model="upPojo.title"  name="t_name" required
            type="text" class="dfinput"  />
            <i ng-show="subForm.t_name.$error.required">请输入账号</i>
        </li>
        <li><label>是否显示</label>
            <input type="checkbox" ng-model="upPojo.show" ng-true-value="true" ng-false-value="false" />
        </li>
        <li><label>顺序</label>
            <input type="number" ng-model="upPojo.sort" />
        </li>
        <li><label>封面图片</label>
             <input type="file" nv-file-select="" uploader="uploader" /><br/>
             <img ng-src="{{upPojo.picUrl}}" width="140px" height="140px" ng-if="upPojo.picUrl"/>
        </li>
        <li><label>&nbsp;</label>
            <input  type="submit" ng-disabled="subForm.$invalid"
            class="btn" value="确认保存"/>
         </li>
        </ul>
    </form>
    </div>
</script>
<script type="text/ng-template" id="proList">
    <h1>haha</h1>
</script>
<script type="text/ng-template" id="proAdd">
    <h1>add</h1>
</script>
<script type="text/javascript" src="/public/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./dist/index.js"></script>
</html>
