<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>关于宏盛  /  公司简介_新疆宏盛印务公司-设计/印刷/报价一站式服务电话:400-0551-009</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="head">
  <div class="w100">
    <div class="ft"><a href="#" >印刷厂</a> <a href="#" >画册印刷</a> <a href="#" >纸袋定做</a> <a href="#" >乌鲁木齐印刷公司</a> </div>
    <div class="fr"><a href="#" rel="nofollow" ><img src="images/ico01.gif" > 新浪微博</a><a href="#" rel="nofollow" >腾讯微博</a>|<a href="#" rel="nofollow" >阿里巴巴旺铺</a>|<a href="#" rel="nofollow" >在线留言</a>|<a href="#" rel="nofollow">关于宏盛</a>|<a href="#">站点地图</a></div>
  </div>
</div>
<div class="logo_s">
  <div class="ft"><a href="#" rel="nofollow" ><img src="images/logo.jpg" width="358" height="85" ></a></div>
  <div class="fr"><a href="#" rel="nofollow" ><img src="images/head_lx.jpg" ></a></div>
</div>
<div class="nav">
  <ul>
    <li class="nav_sy"><a href="#">宏盛首页</a></li>
    <li class="nav_2"><a href="#">宣传品印刷</a>
      <h3><a href="#">画册</a><a href="#">说明书</a><a href="#">楼书</a><a href="#">封套</a><a href="#">海报</a><a href="#">单页折页</a></h3>
    </li>
    <li><a href="#">书刊印刷</a>
      <h3><a href="#">图书</a><a href="#">汇编</a><a href="#">精装书</a><a href="#">家谱</a><a href="#">培训教材</a><a href="#">年鉴</a><a href="#">期刊杂志</a></h3>
    </li>
    <li class="nav_2"><a href="#">包装品印刷</a>
      <h3><a href="#">蔬果包装</a><a href="#">鸡蛋包装</a><a href="#">干货包装</a><a href="#">杂粮包装</a><a href="#">红酒包装</a><a href="#">礼品包装</a><a href="#">白酒包装</a><a href="#">糕点包装</a><a href="#">茶叶包装</a><a href="#">喜糖包装</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸袋印刷</a>
      <h3><a href="#">广告纸袋</a><a href="#">礼品袋</a><a href="#">无纺布袋</a><a href="#">牛皮袋</a><a href="#">购物袋</a><a href="#">资料袋</a></h3>
    </li>
    <li><a href="#">促销品印刷</a>
      <h3><a href="#">春联</a><a href="#">大礼包</a><a href="#">扑克牌</a><a href="#">易事贴</a><a href="#">纸杯</a><a href="#">抽纸</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸制品印刷</a>
      <h3><a href="#">不干胶</a><a href="#">台历</a><a href="#">挂历</a><a href="#">门票</a><a href="#">请柬</a><a href="#">菜谱</a></h3>
    </li>
    <li><a href="#">办公用品</a>
      <h3><a href="#">笔记本</a><a href="#">便签</a><a href="#">无碳票据</a><a href="#">报表</a><a href="#">信封信纸</a><a href="#">档案盒</a><a href="#">练习本</a></h3>
    </li>
    <li><a href="#">关于宏盛</a>
      <h3><a href="#">公司简介</a><a href="#">宏盛资质</a><a href="#">设备展示</a><a href="#">合作客户</a><a href="#">中标项目</a><a href="#">解决方案</a><a href="#">联系方式</a></h3>
    </li>
    <li><a href="#" rel="nofollow">联系宏盛</a></li>
  </ul>
</div>
<div class="index_gjc2">
  <div class="ft"><b>热门关键词：</b><a href="#">画册印刷</a> <a href="#">家谱印刷</a> <a href="#">纸袋印刷</a> <a href="#">包装盒印刷</a> <a href="#">乌鲁木齐印刷</a></div>
  <div class="sousuo">
    <form name="formsearch" action="http://www.4000551009.com/plus/search.php">
      <input type="hidden" name="kwtype" value="0">
      <input type="hidden" name="searchtype" value="title">
      <input type="image" id="searchButton" src="images/ss_2.jpg" class="ss_2">
      <input name="q" type="text" onfocus="if(this.value==&#39;输入搜索关键词&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;输入搜索关键词&#39;;" value="输入搜索关键词" class="ss_1">
    </form>
  </div>
</div>
<div id="clear"></div>
<div class="index_ad"><img src="images/banner_s2.jpg" width="1000" height="200"></div>
<div class="nowsite">
  <h2><b>产品类别</b> / Category</h2>
  <h3>您现在的位置：<a href="#">首页</a> &#187; 关于宏盛  /  公司简介</h3>
</div>
<div class="product">
  <div class="fr product_r">
    <div class="pro_li">
      <div class="fl_sli">
        <h2><a href="#">宣传品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">画册</a></li>
          <li><a href="#">说明书</a></li>
          <li><a href="#">楼书</a></li>
          <li><a href="#">封套</a></li>
          <li><a href="#">海报</a></li>
          <li><a href="#">单页折页</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">促销品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">春联</a></li>
          <li><a href="#">大礼包</a></li>
          <li><a href="#">扑克牌</a></li>
          <li><a href="#">易事贴</a></li>
          <li><a href="#">纸杯</a></li>
          <li><a href="#">抽纸</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">办公品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">笔记本</a></li>
          <li><a href="#">便签</a></li>
          <li><a href="#">无碳票据</a></li>
          <li><a href="#">报表</a></li>
          <li><a href="#">信封信纸</a></li>
          <li><a href="#">档案盒</a></li>
          <li><a href="#">练习本</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">包装品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">蔬果包装</a></li>
          <li><a href="#">鸡蛋包装</a></li>
          <li><a href="#">干货包装</a></li>
          <li><a href="#">杂粮包装</a></li>
          <li><a href="#">红酒包装</a></li>
          <li><a href="#">礼品包装</a></li>
          <li><a href="#">白酒包装</a></li>
          <li><a href="#">糕点包装</a></li>
          <li><a href="#">茶叶包装</a></li>
          <li><a href="#">喜糖包装</a></li>
          <li><a href="#">月饼包装</a></li>
          <li><a href="#">医药包装</a></li>
          <li><a href="#">粽子包装</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">纸袋印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">广告纸袋</a></li>
          <li><a href="#">礼品袋</a></li>
          <li><a href="#">无纺布袋</a></li>
          <li><a href="#">牛皮袋</a></li>
          <li><a href="#">购物袋</a></li>
          <li><a href="#">资料袋</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">书刊印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">图书</a></li>
          <li><a href="#">汇编</a></li>
          <li><a href="#">精装书</a></li>
          <li><a href="#">家谱</a></li>
          <li><a href="#">培训教材</a></li>
          <li><a href="#">年鉴</a></li>
          <li><a href="#">期刊杂志</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">春联大礼包</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">不干胶</a></li>
          <li><a href="#">台历</a></li>
          <li><a href="#">挂历</a></li>
          <li><a href="#">门票</a></li>
          <li><a href="#">请柬</a></li>
          <li><a href="#">菜谱</a></li>
        </ul>
        <div id="clear"></div>
      </div>
    </div>
    <div class="pro_rt">联系我们</div>
    <div class="pro_lx">
      <div class="tac"><a href="#" ><img src="images/n2.jpg" width="224" height="115"></a></div>
      <p>名称: 新疆省宏盛印务有限责任公司<br>
        Q Q : <a href="#" rel="nofollow" >400&nbsp;<font color="#cc0000">0551</font>&nbsp;009</a> <br>
        网站: <a href="#">400&nbsp;<font color="#cc0000">0551</font>&nbsp;009.com</a> <br>
        电话: 400-<font color="#cc0000">0551</font>-009 <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0551-65220569 <br>
        邮箱: kuaima888@126.com <br>
        地址: 乌鲁木齐市市府广场天徽大厦C座6层 <br>
        厂址: 乌鲁木齐市双凤开发区宏盛工业园</p>
    </div>
  </div>
  <div class="ft article_l">
    <h1>公司简介</h1>
    <div class="art_text">
      <div style="text-align: center;"> <img  src="images/1-140225113159464.jpg"></div>
      <div> <br>
        <strong>新疆省宏盛印务有限责任公司</strong>，1992年成立于乌鲁木齐，是国内著名的印刷企业，专业为大中企业提供印刷配套服务，主要生产高档画册、图书、精装书、挂历、对联、扑克、笔记本、纸袋、纸盒、纸箱。</div>
      <div> &nbsp;</div>
      <div> 　　经过22年的发展，新疆省宏盛印务有限责任公司建成了较完整的生产体系，配置了过更的硬件。能完成高档图书、画册及精装盒的生产工作。1992年，购置了新疆省宏盛印务有限责任公司的第一台设备，2000年，在双凤工业区兴建了占地60亩的宏盛工业园；建成总面积12000平方米的厂房；2004年，引进精装书生产线；2005年引进挂历生产线；2006年引进了第一台海德堡CD102印刷机、胶装联动线；2008年引进全自动CTP；2010年引进了小全张小森超级丽色龙印刷机、马天尼骑马联动线；2013年引进纸袋生产线，礼品盒生产线。目前各种先进设备120多台（套），具有全流程生产优质图书、画册、薄本、扑克及纸质包装品的能力。</div>
      <div> &nbsp;</div>
      <div> 　　在软件方面，新疆省宏盛印务有限责任公司在1996年导入ISO9001；1998年导入用友购销存系统；2000年导入印刷ERP；2001年导入CRM；，2006年公司开发了自己的网络订单系统；2008年导入CI系统，2010年，公司导入职工招聘、培训、考核系统。与此同时新疆省宏盛印务有限责任公司大力进行企业文化建设，把“客户回头”作为新疆省宏盛印务有限责任公司职工服务合格的唯一标准。</div>
      <div> &nbsp;</div>
      <div> 　　通过软硬件建设，新疆省宏盛印务有限责任公司成为一个有“魂”的企业。这个魂就是以我们的优质产品、增值服务，让客户成功，让客户回头。成就客户，成就职工，从而成就新疆省宏盛印务有限责任公司。</div>
      <div> &nbsp;</div>
      <div> 　　自创立至2005年，新疆省宏盛印务有限责任公司主要为新疆省内客户提供印刷服务，从2006年开始，新疆省宏盛印务有限责任公司向全国大中型企业提供印刷业务，内容涵盖企业画册、产品说明书、宣传页、产品包装纸箱、纸盒。至今已经为18000家企业提供印刷服务，客户遍布全国各地。2010年，新疆省宏盛印务有限责任公司外贸部成立，将印刷服务延伸到海外。海外客户遍布欧州、美国、东南亚、日本等地。本着帮客户成功，提供增值服务的理念，新疆省宏盛印务有限责任公司的印刷服务深受各界好评，不少企业和新疆省宏盛印务有限责任公司一起成长，从小到大，由弱至强，把新疆省宏盛印务有限责任公司视作可靠的事业伙伴。目前新疆省宏盛印务有限责任公司是中国网络印刷最强的企业之一。被企业家称为“<a href="#">企业宣传画册</a>的最好印刷商，纸盒纸箱等产品包装的优质供应商”。2012年10月，新疆省宏盛印务有限责任公司公司被中国信用中心认定为“诚信经营示范单位”、“重合同守信用单位”、“AAA级信用单位”。</div>
      <div> &nbsp;</div>
      <div> 　　“激情工作，快乐生活”的理念让一大批印刷精英聚集在一起，160多名印刷行业的经营管理人才及熟练工人是本公司实现企业目标的坚强保证。公司有设计员20人，均为本科以上文化，大部份有5年以上的专业经验。 “准确、美观、快捷”是对公司设计制作人员的基本要求。“不生产不合格产品，不移交不合格产品、让客户轻松快捷完成高质量的设计印刷任务”是公司铁的法则。同时公司开展学习型组织建设，使公司设计水平和印刷质量不断提高。</div>
      <div> &nbsp;</div>
      <div> 　　新疆省宏盛印务有限责任公司是新疆省中学小学教材定点印刷单位、乌鲁木齐市政府、农行新疆省分行、中行新疆省分行、徽商银行、新疆省移动、新疆省美的的定点印刷单位。</div>
      <div> &nbsp;</div>
      <div>
        <div> 　　有志于有一番作为的企业，我们愿意和您一起成长！我们将以新疆省宏盛印务有限责任公司在宣传画品印刷和包装印刷的服务经验，让你的产品更有卖相！</div>
        <div> &nbsp;</div>
        <div> 　　印刷咨询电话：400-<span style="color:#ff0000;">0551</span>-009</div>
        <div> &nbsp;</div>
        <div> 　　印刷交流 Q Q：400 <span style="color:#ff0000;">0551</span> 009</div>
        <div> &nbsp;</div>
        <div> 　　印刷官方网站：400 <span style="color:#ff0000;">0551</span> 009.com</div>
      </div>
      <div> &nbsp;</div>
    </div>
  </div>
  <div id="clear"></div>
</div>
<div class="bot_nav"><a href="#">关于宏盛</a>|<a href="#">产品包装盒</a>|<a href="#">企业宣传册</a>|<a href="#">精装书刊</a>|<a href="#">精美手提袋</a>|<a href="#">笔记本印刷</a>|<a href="#">纸制品印刷</a>|<a href="#">办公用品</a>|<a href="#">印刷常识</a>|<a href="#" rel="nofollow">联系宏盛</a></div>
<div class="bottom">乌鲁木齐印刷厂集印刷品的策划、设计、印刷为一体的大型乌鲁木齐印务公司,专业为您提供画册印刷及各种精美书籍、宣传单等印刷，新疆省乌鲁木齐宏盛印务公司是全省最有实力的乌鲁木齐印刷厂<br>
  Copyright 2013 新疆省宏盛印刷公司_乌鲁木齐印务公司_乌鲁木齐印刷厂 版权所有 All Rights Reserved 皖ICP备10006187号-6</div>
<!--1003-->
</body>
</html>