<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%- currentAir.title %>_新疆宏盛印务</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
  globalInfo = {
    "_id":'<%- airticle._id %>',
    "_typId":'<%- _typId %>'
  }
</script>
</head>
<body ng-controller="main">
<%- include ./include/head.html %>
<div class="index_gjc2">
  <%- include ./include/search.html %>
</div>
<div id="clear"></div>
<div class="index_ad"><img width="1000" height="200" alt="banner" 
  src="/print/images/banner_s11.jpg"></div>
<div class="nowsite">
  <h2><b>产品类别</b> / Category</h2>
  <h3>您现在的位置：
      <a href="/print/index">主页</a> &gt;
      <a><%- airticle.name %></a> &gt;
      <a><%- currentAir.title %></a>
  </h3>
</div>
<div class="product">
  <div class="fr product_r">
    <div class="pro_li">
      <%- include ./include/category.html %>
    </div>
    <div class="pro_rt">联系我们</div>
    <div class="pro_lx">
      <div class="tac"><a href="#" ><img src="images/n2.jpg" width="224" height="115"></a></div>
      <p>名称: <%- connectUs.name %><br>
        Q Q : <a href="#" rel="nofollow"><%- connectUs.QQ %></a><br>
        电话: <%- connectUs.tel %> <br>
        邮箱: <%- connectUs.email %> <br>
        地址: <%- connectUs.address %> <br>
        厂址: <%- connectUs.comAddress %></p>
    </div>
  </div>

  <div class="ft article_l">
    <h1>{{ airArray[_currentAir].title }}</h1>
    <h3>日期：{{ airArray[_currentAir].createDate | date:'yyyy-MM-dd' }}</h3>
    <div class="art_text" 
          ng-bind-html="airArray[_currentAir].content | to_trusted ">
    </div>
    <div class="art_fx">
      <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1440554714902"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div></div>
    <div class="art_sx">
      <div class="ft" ng-if="_currentAir>0" ng-click="last()">上一篇：
        <a href="">{{ airArray[_currentAir-1].title }}</a>
      </div>
      <div class="fr" ng-click="next()" ng-if="_currentAir+1 < airArray.length"
      >下一篇：
        <a href="">{{ airArray[_currentAir+1].title }}</a> </div>
      </div>
  </div>
  <div id="clear"></div>
</div>
<%- include ./include/foot.html %>
<script type="text/javascript" src="/public/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/src/service/angular-pageResult.js"></script>
<script type="text/javascript" src="./js/airticle.js"></script>
</body>
</html>