<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="#">
<title>网站首页</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="head">
  <div class="w100">
    <div class="ft"><a href="#" >印刷厂</a> <a href="#" >画册印刷</a> <a href="#" >纸袋定做</a> <a href="#" >合肥印刷公司</a> </div>
    <div class="fr"><a href="#" rel="nofollow" ><img src="images/ico01.gif"> 新浪微博</a><a href="#" rel="nofollow" >腾讯微博</a><a href="#" rel="nofollow" class="sc">加入收藏</a>|<a href="#" rel="nofollow">在线留言</a>|<a href="#" rel="nofollow">关于快马</a>|<a href="#">站点地图</a></div>
  </div>
</div>
<div class="logo_s">
  <div class="ft"><a href="#" rel="nofollow"><img src="images/logo.jpg" width="358" height="85"></a></div>
  <div class="fr"><a href="#" rel="nofollow" title="联系方式"><img src="images/head_lx.jpg"></a></div>
</div>
<div class="nav">
  <ul>
    <li class="nav_sy"><a href="#">快马首页</a></li>
    <li class="nav_2"><a href="#">宣传品印刷</a>
      <h3><a href="#">画册</a><a href="#">说明书</a><a href="#">楼书</a><a href="#">封套</a><a href="#">海报</a><a href="#">单页折页</a></h3>
    </li>
    <li><a href="#">书刊印刷</a>
      <h3><a href="#">图书</a><a href="#">汇编</a><a href="#">精装书</a><a href="#">家谱</a><a href="#">培训教材</a><a href="#">年鉴</a><a href="#">期刊杂志</a></h3>
    </li>
    <li class="nav_2"><a href="#">包装品印刷</a>
      <h3><a href="#">蔬果包装</a><a href="#">鸡蛋包装</a><a href="#">干货包装</a><a href="#">杂粮包装</a><a href="#">红酒包装</a><a href="#">礼品包装</a><a href="#">白酒包装</a><a href="#">糕点包装</a><a href="#">茶叶包装</a><a href="#">喜糖包装</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸袋印刷</a>
      <h3><a href="#">广告纸袋</a><a href="#">礼品袋</a><a href="#">无纺布袋</a><a href="#">牛皮袋</a><a href="#">购物袋</a><a href="#">资料袋</a></h3>
    </li>
    <li><a href="#">促销品印刷</a>
      <h3><a href="#">春联</a><a href="#">大礼包</a><a href="#">扑克牌</a><a href="#">易事贴</a><a href="#">纸杯</a><a href="#">抽纸</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸制品印刷</a>
      <h3><a href="#">不干胶</a><a href="#">台历</a><a href="#">挂历</a><a href="#">门票</a><a href="#">请柬</a><a href="#">菜谱</a></h3>
    </li>
    <li><a href="#">办公用品</a>
      <h3><a href="#">笔记本</a><a href="#">便签</a><a href="#">无碳票据</a><a href="#">报表</a><a href="#">信封信纸</a><a href="#">档案盒</a><a href="#">练习本</a></h3>
    </li>
    <li><a href="#">关于快马</a>
      <h3><a href="#">公司简介</a><a href="#">快马资质</a><a href="#">设备展示</a><a href="#">合作客户</a><a href="#">中标项目</a><a href="#">解决方案</a><a href="#">联系方式</a></h3>
    </li>
    <li><a href="#" rel="nofollow">在线下单</a></li>
  </ul>
</div>
<div id="clear"></div>
<div class="banner">
  <div class="bd">
    <ul style="position: relative; width: 1000px; height: 366px;">
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="#" title="幻灯三"><img src="images/huandeng_3.jpg" width="1000" height="360" ></a></li>
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="#" title="幻灯二"><img src="images/huandeng_2.jpg" width="1000" height="360" ></a></li>
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: list-item;"><a href="#" title="幻灯一"><img src="images/huandeng_1.jpg" width="1000" height="360" ></a></li>
    </ul>
  </div>
  <div class="w100">
    <div class="hd">
      <ul>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="on">&nbsp;</li>
      </ul>
      <a class="next"></a><a class="prev"></a> </div>
  </div>
  <div class="index_gjc">
    <div class="ft"><b>热门关键词：</b><a href="#">家谱印刷</a> <a href="#">画册印刷</a> <a href="#">印刷公司</a> <a href="#">包装盒印刷</a> <a href="#">合肥印刷</a> </div>
    <div class="sousuo">
      <form name="formsearch" action="http://www.4000551009.com/plus/search.php">
        <input type="hidden" name="kwtype" value="0">
        <input type="hidden" name="searchtype" value="title">
        <input type="image" id="searchButton" src="images/ss_2.jpg" class="ss_2">
        <input name="q" type="text" onfocus="if(this.value==&#39;输入搜索关键词&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;输入搜索关键词&#39;;" value="输入搜索关键词" class="ss_1">
      </form>
    </div>
  </div>
</div>
<script>jQuery(".banner").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,easing:"swing"});</script>
<div class="lanmu_1">
  <h2><b>产品类别</b> / Category</h2>
  <h3><b>产品展示</b> / Product</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> </div>
<div class="index_cp index_sc"> 
  <script>
$(function() {

    $(".fl_sli").mousemove(function() {
        $(this).addClass("lm1_at");
    });
  $('.fl_sli').mouseleave(function(){
        $(this).removeClass("lm1_at");
  });

});
</script>
  <div class="ft cp_l index_xd">
    <div class="fl_sli">
      <h2><a href="#">宣传品印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">画册</a></li>
        <li><a href="#">说明书</a></li>
        <li><a href="#">楼书</a></li>
        <li><a href="#">封套</a></li>
        <li><a href="#">海报</a></li>
        <li><a href="#">单页折页</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">促销品印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">春联</a></li>
        <li><a href="#">大礼包</a></li>
        <li><a href="#">扑克牌</a></li>
        <li><a href="#">易事贴</a></li>
        <li><a href="#">纸杯</a></li>
        <li><a href="#">抽纸</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">办公品印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">笔记本</a></li>
        <li><a href="#">便签</a></li>
        <li><a href="#">无碳票据</a></li>
        <li><a href="#">报表</a></li>
        <li><a href="#">信封信纸</a></li>
        <li><a href="#">档案盒</a></li>
        <li><a href="#">练习本</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">包装品印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">蔬果包装</a></li>
        <li><a href="#">鸡蛋包装</a></li>
        <li><a href="#">干货包装</a></li>
        <li><a href="#">杂粮包装</a></li>
        <li><a href="#">红酒包装</a></li>
        <li><a href="#">礼品包装</a></li>
        <li><a href="#">白酒包装</a></li>
        <li><a href="#">糕点包装</a></li>
        <li><a href="#">茶叶包装</a></li>
        <li><a href="#">喜糖包装</a></li>
        <li><a href="#">月饼包装</a></li>
        <li><a href="#">医药包装</a></li>
        <li><a href="#">粽子包装</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">纸袋印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">广告纸袋</a></li>
        <li><a href="#">礼品袋</a></li>
        <li><a href="#">无纺布袋</a></li>
        <li><a href="#">牛皮袋</a></li>
        <li><a href="#">购物袋</a></li>
        <li><a href="#">资料袋</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">书刊印刷</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">图书</a></li>
        <li><a href="#">汇编</a></li>
        <li><a href="#">精装书</a></li>
        <li><a href="#">家谱</a></li>
        <li><a href="#">培训教材</a></li>
        <li><a href="#">年鉴</a></li>
        <li><a href="#">期刊杂志</a></li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="fl_sli">
      <h2><a href="#">春联大礼包</a></h2>
      <h3>&nbsp;</h3>
      <ul>
        <li><a href="#">不干胶</a></li>
        <li><a href="#">台历</a></li>
        <li><a href="#">挂历</a></li>
        <li><a href="#">门票</a></li>
        <li><a href="#">请柬</a></li>
        <li><a href="#">菜谱</a></li>
      </ul>
      <div id="clear"></div>
    </div>
  </div>
  <div class="fr cp_r">
    <div class="cp_sli">
      <ul>
        <li><a href="#" title="彩色DM宣传单页印刷制作"><img src="images/danye_011_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">彩色DM宣传单页印刷制作</a></h3>
        </li>
        <li><a href="#" title="土鸡蛋包装盒"><img src="images/jidanbaozhuang_003_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">土鸡蛋包装盒</a></h3>
        </li>
        <li><a href="#" title="草莓包装盒"><img src="images/shuguobaozhuang_001_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">草莓包装盒</a></h3>
        </li>
        <li><a href="#" title="水果礼盒"><img src="images/shuguobaozhuang_012_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">水果礼盒</a></h3>
        </li>
        <li><a href="#" title="精装画册印刷"><img src="images/huace_005_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">精装画册印刷</a></h3>
        </li>
        <li><a href="#" title="彩色宣传画册印刷"><img src="images/huace_011_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">彩色宣传画册印刷</a></h3>
        </li>
        <li><a href="#" title="合肥画册印刷"><img src="images/huace_012_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">合肥画册印刷</a></h3>
        </li>
        <li><a href="#" title="集团周年纪念画册"><img src="images/huace_003_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">集团周年纪念画册</a></h3>
        </li>
        <li><a href="#" title="购物纸袋定制"><img src="images/gouwudai_005_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">购物纸袋定制</a></h3>
        </li>
        <li><a href="#" title="广告环保袋"><img src="images/guanggaodai_002_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">广告环保袋</a></h3>
        </li>
        <li><a href="#" title="精装书定制印刷"><img src="images/jingzhuangshu_004_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">精装书定制印刷</a></h3>
        </li>
        <li><a href="#" title="图书定做"><img src="images/tushu_004_yinshua.jpg" width="172" height="126" ></a>
          <h3><a href="#">图书定做</a></h3>
        </li>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<div class="index_dkh">
  <h2><a href="#">&nbsp;</a><b>大客户列表</b>Large Customers</h2>
  <div class="dkh_bd">
    <div class="tempWrap" style="overflow:hidden; position:relative; width:954px">
      <ul style="width: 3816px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1810px;">
        <li style="float: left; width: 106px;"><img src="images/jiudian.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/zhonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/yidong.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/nonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meiling.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meidi.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/jianhang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/haier.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/guojiadianwang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/gonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/geli.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/dianxin.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/jiudian.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/zhonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/yidong.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/nonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meiling.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meidi.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/jianhang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/haier.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/guojiadianwang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/gonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/geli.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/dianxin.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/jiudian.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/zhonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/yidong.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/nonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meiling.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/meidi.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/jianhang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/haier.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/guojiadianwang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/gonghang.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/geli.png" width="98" height="62" ></li>
        <li style="float: left; width: 106px;"><img src="images/dianxin.png" width="98" height="62" ></li>
      </ul>
    </div>
  </div>
  <div class="dkh_hd"><a class="next"></a><a class="prev"></a></div>
</div>
<script>jQuery(".index_dkh").slide({mainCell:".dkh_bd ul",titCell:".dkh_hd li",autoPlay:true,effect:"leftMarquee",vis:9,interTime:50});</script>
<div class="lanmu_1">
  <h2><b>快马印务十大优势</b> / Superiority</h2>
  <h3>&nbsp;</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_ys">
  <div class="ft">
    <ul>
      <li><b>服务专业：</b>21年印刷经验，服务过12000家企业</li>
      <li><b>定点服务：</b>定点印刷，全面节省企业成本30%</li>
      <li><b>全面服务：</b>全系列产品，为广大中企业提供稳定印刷配套</li>
      <li><b>惊喜连连：</b>月月有活动，周周有特价</li>
      <li><b>免费设计：</b>专业的设计师团队</li>
    </ul>
  </div>
  <div class="fr">
    <ul>
      <li><b>质量保证：</b>每一件产品都力求完美</li>
      <li><b>方便可靠：</b>网络下单，物流配送，24小时送货</li>
      <li><b>交通便利：</b>立足合肥，辐射全国</li>
      <li><b>产能超强：</b>印刷大户的福音，日均出产60吨</li>
      <li><b>设备齐全：</b>全系列进口印刷和印后设备</li>
    </ul>
  </div>
</div>
<div class="lanmu_1">
  <h2><b>荣誉资质</b> / Honors</h2>
  <h3><b>公司简介</b> / Company Profile</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> </div>
<div class="index_jj">
  <div class="ft jj_ry">
    <div class="tempWrap" style="overflow:hidden; position:relative; height:528px">
      <ul style="height: 4224px; position: relative; padding: 0px; margin: 0px; top: -1408px;">
        <li style="height: 176px;"><img src="images/公司印刷经营许可证-2.jpg" width="172" height="126" >
          <h3>印刷经营许可证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251220230-L.jpg" width="172" height="126" >
          <h3>诚信经营示范单位</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251221480-L.jpg" width="172" height="126" >
          <h3>信用等级认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251222250-L.jpg" width="172" height="126" >
          <h3>重合同守信用企业认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223595_L.jpg" width="172" height="126" >
          <h3>全国重合同守信用企业</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223180-L.jpg" width="172" height="126" >
          <h3>快马商标注册证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1404041020220-L.jpg" width="172" height="126" >
          <h3>安全生产标准化</h3>
        </li>
        <li style="height: 176px;"><img src="images/anquanzhengshu.jpg" width="172" height="126" >
          <h3>安全证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/公司印刷经营许可证-2.jpg" width="172" height="126" >
          <h3>印刷经营许可证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251220230-L.jpg" width="172" height="126" >
          <h3>诚信经营示范单位</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251221480-L.jpg" width="172" height="126" >
          <h3>信用等级认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251222250-L.jpg" width="172" height="126" >
          <h3>重合同守信用企业认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223595_L.jpg" width="172" height="126" >
          <h3>全国重合同守信用企业</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223180-L.jpg" width="172" height="126" >
          <h3>快马商标注册证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1404041020220-L.jpg" width="172" height="126" >
          <h3>安全生产标准化</h3>
        </li>
        <li style="height: 176px;"><img src="images/anquanzhengshu.jpg" width="172" height="126" >
          <h3>安全证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/公司印刷经营许可证-2.jpg" width="172" height="126" >
          <h3>印刷经营许可证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251220230-L.jpg" width="172" height="126" >
          <h3>诚信经营示范单位</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251221480-L.jpg" width="172" height="126" >
          <h3>信用等级认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251222250-L.jpg" width="172" height="126" >
          <h3>重合同守信用企业认证证书</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223595_L.jpg" width="172" height="126" >
          <h3>全国重合同守信用企业</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1402251223180-L.jpg" width="172" height="126" >
          <h3>快马商标注册证</h3>
        </li>
        <li style="height: 176px;"><img src="images/1-1404041020220-L.jpg" width="172" height="126" >
          <h3>安全生产标准化</h3>
        </li>
        <li style="height: 176px;"><img src="images/anquanzhengshu.jpg" width="172" height="126" >
          <h3>安全证书</h3>
        </li>
      </ul>
    </div>
  </div>
  <script>jQuery(".jj_ry").slide({mainCell:"ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:3,delayTime:1000});</script>
  <div class="fr rr_sm"><a href="#"  title="安徽省快马印刷公司"><img src="images/20131029174025.jpg" width="255" height="180"  class="img_3"></a>
    <h1>安徽省快马印务有限责任公司</h1>
    <h3>
      <p>　　安徽省快马印务有限责任公司，1992年成立于合肥，是国内著名的印刷企业，专业为大中企业提供印刷配套服务，主要生产高档画册、图书、精装书、挂历、对联、扑克、笔记本、纸袋、纸盒、纸箱。<br>
        经过21年的发展，安徽省快马印务有限责任公司建成了较完整的生产体系，配置了过更的硬件。能完成高档图书、画册及精装盒的生产工作。1992年，购置了安徽省快马印务有限责任公司的第一台设备，2000年，在双凤工业区兴建了占地60亩的快马工业园；建成总面积12000平方米的厂房；2004年，引进精装书生产线........ <a href="#">+ 更多</a></p>
    </h3>
    <div class="index_xc">
      <ul>
        <li><a href="#" >合肥那家印刷厂的宣传册印刷质量好，有保障呢？</a>[2015-02-14]</li>
        <li><a href="#" >彩盒包装盒印刷要注意的问题</a>[2015-02-13]</li>
        <li><a href="#" >画册设计的分类以及设计中的三大误区</a>[2015-02-12]</li>
        <li><a href="#" >服装吊牌印刷制作</a>[2015-02-11]</li>
        <li><a href="#" >纸盒印刷包装介绍</a>[2015-02-10]</li>
        <li><a href="#" >包装印刷厂告诉您色彩如何调配</a>[2015-02-09]</li>
        <li><a href="#" >食品包装印刷有哪些理念？</a>[2015-02-03]</li>
        <li><a href="#" >包装印刷与生活的关系</a>[2015-02-02]</li>
      </ul>
    </div>
    <div class="index_sb">
      <h2><a href="#">&nbsp;</a><b>设备展示</b> / Equipment Show</h2>
      <div class="sb_li">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:756px">
          <ul style="width: 4536px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1553.202px;">
            <li style="float: left; width: 189px;"><a href="#" title="10(柯达CTP).gif"><img src="images/10(柯达CTP).gif" width="172" height="126" ></a>
              <h3><a href="#">10(柯达CTP).gif</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="9高速切纸机"><img src="images/9高速切纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">9高速切纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="5全自动高精覆膜机"><img src="images/5全自动高精覆膜机.gif" width="172" height="126" ></a>
              <h3><a href="#">5全自动高精覆膜机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="3(马天尼 胶装联动线)"><img src="images/3(马天尼 胶装联动线).gif" width="172" height="126" ></a>
              <h3><a href="#">3(马天尼 胶装联动线)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="2小森四色印刷机"><img src="images/2小森四色印刷机.gif" width="172" height="126" ></a>
              <h3><a href="#">2小森四色印刷机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="1(海德堡四色印刷机)"><img src="images/1(海德堡四色印刷机).gif" width="172" height="126" ></a>
              <h3><a href="#">1(海德堡四色印刷机)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="12纸箱生产线-全自动裱纸机"><img src="images/12纸箱生产线-全自动裱纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">12纸箱生产线-全自动裱纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="11自动手提袋制筒机"><img src="images/11自动手提袋制筒机.gif" width="172" height="126" ></a>
              <h3><a href="#">11自动手提袋制筒机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="10(柯达CTP).gif"><img src="images/10(柯达CTP).gif" width="172" height="126" ></a>
              <h3><a href="#">10(柯达CTP).gif</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="9高速切纸机"><img src="images/9高速切纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">9高速切纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="5全自动高精覆膜机"><img src="images/5全自动高精覆膜机.gif" width="172" height="126" ></a>
              <h3><a href="#">5全自动高精覆膜机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="3(马天尼 胶装联动线)"><img src="images/3(马天尼 胶装联动线).gif" width="172" height="126" ></a>
              <h3><a href="#">3(马天尼 胶装联动线)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="2小森四色印刷机"><img src="images/2小森四色印刷机.gif" width="172" height="126" ></a>
              <h3><a href="#">2小森四色印刷机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="1(海德堡四色印刷机)"><img src="images/1(海德堡四色印刷机).gif" width="172" height="126" ></a>
              <h3><a href="#">1(海德堡四色印刷机)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="12纸箱生产线-全自动裱纸机"><img src="images/12纸箱生产线-全自动裱纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">12纸箱生产线-全自动裱纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="11自动手提袋制筒机"><img src="images/11自动手提袋制筒机.gif" width="172" height="126" ></a>
              <h3><a href="#">11自动手提袋制筒机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="10(柯达CTP).gif"><img src="images/10(柯达CTP).gif" width="172" height="126" ></a>
              <h3><a href="#">10(柯达CTP).gif</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="9高速切纸机"><img src="images/9高速切纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">9高速切纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="5全自动高精覆膜机"><img src="images/5全自动高精覆膜机.gif" width="172" height="126" ></a>
              <h3><a href="#">5全自动高精覆膜机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="3(马天尼 胶装联动线)"><img src="images/3(马天尼 胶装联动线).gif" width="172" height="126" ></a>
              <h3><a href="#">3(马天尼 胶装联动线)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="2小森四色印刷机"><img src="images/2小森四色印刷机.gif" width="172" height="126" ></a>
              <h3><a href="#">2小森四色印刷机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="1(海德堡四色印刷机)"><img src="images/1(海德堡四色印刷机).gif" width="172" height="126" ></a>
              <h3><a href="#">1(海德堡四色印刷机)</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="12纸箱生产线-全自动裱纸机"><img src="images/12纸箱生产线-全自动裱纸机.gif" width="172" height="126" ></a>
              <h3><a href="#">12纸箱生产线-全自动裱纸机</a></h3>
            </li>
            <li style="float: left; width: 189px;"><a href="#" title="11自动手提袋制筒机"><img src="images/11自动手提袋制筒机.gif" width="172" height="126" ></a>
              <h3><a href="#">11自动手提袋制筒机</a></h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>jQuery(".index_sb").slide({mainCell:".sb_li ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});</script> 
  </div>
  <div id="clear"></div>
</div>
<div class="lanmu_1">
  <h2><b>中标项目</b> / Solutions</h2>
  <h3><b>客户眼中的快马印务</b></h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_fa">
  <div class="ft fa_l">
    <div class="tac"><a href="#"  title="天长市招标采购交易中心 TCZBCG-20"><img src="images/t5c1.jpg"  width="206" height="76"></a> </div>
    <ul>
      <li>·<a href="#" >天长市招标采购交易中心 TCZBCG-20</a></li>
      <li>·<a href="#" >蚌埠市人社局印制新年日历中标公示</a></li>
      <li>·<a href="#" >合肥市直单位印刷定点单位招标项目</a></li>
      <li>·<a href="#" >《安庆市宜秀区志》（1988-2007）</a></li>
      <li>·<a href="#" >安徽省政府采购中心交通知书</a></li>
      <li>·<a href="#" >安徽省农行印刷服务单位</a></li>
      <li>·<a href="#" >关于转发区政府《关于区直行政事业</a></li>
    </ul>
  </div>
  <div class="fr fa_r">
    <ul>
      <li> <a href="#"  title="快马印刷画册性价比非常高!"><img width="192" height="112" src="images/1-1402252222550-L.jpg" ></a>
        <h1><a href="#"  title="快马印刷画册性价比非常高!">快马印刷画册性价比非常高!</a></h1>
        <h3>芜湖美的-王经理 三年来，我们公司和快马印务合作的一直很愉快，服务速度很快，印刷价格也比较公道，最重要的是印刷质量方面让我们一直很放心，毕竟不管是画册还是纸盒纸箱代表的是企业形象，质量问题尤其重要，快马</h3>
        <h4><a href="#"  title="快马印刷画册性价比非常高!">+ 更多详情</a></h4>
      </li>
      <li> <a href="#"  title="快马印务服务确实很不错！"><img width="192" height="112" src="images/1-1402252223390-L.jpg" ></a>
        <h1><a href="#"  title="快马印务服务确实很不错！">快马印务服务确实很不错！</a></h1>
        <h3>中国银行-李主任 快马印务服务确实很不错，我行经常有许多资料今天定稿，明天就要，银行系统对产品质量要求一般都较高，快马印务完善的售前-售中-售后定制服务体系，每次合作都是全程服务跟踪，让我们很放心！</h3>
        <h4><a href="#"  title="快马印务服务确实很不错！">+ 更多详情</a></h4>
      </li>
    </ul>
  </div>
</div>
<div class="index_ad"><script src="images/ad_js.php" language="javascript"></script></div>
<div class="lanmu_1">
  <h2><b>联系方式</b> / Contact</h2>
  <h3><b>行业资讯</b> / News</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> </div>
<div class="index_zx">
  <div class="ft zx_l">
    <h3>名称: 安徽省快马印务有限责任公司<br>
      电话: 0551-65220558 <br>
      传真: 0551-62633741 <br>
      Q Q : <a href="#" rel="nofollow">4000551009</a> <br>
      邮箱: kuaima888@126.com <br>
      地址: 合肥市市府广场天徽大厦C座6层 <br>
      厂址: 合肥市双凤开发区快马工业园</h3>
  </div>
  <div class="fr zx_r">
    <div class="fr zx_ly">
      <form method="post" action="http://www.4000551009.com/plus/message.php" name="form1">
        <input type="hidden" name="action" value="save2">
        <input type="hidden" name="img" value="01">
        <input type="hidden" name="title" value="邮件订阅">
        <div class="dy_cn">
          <h3>姓名：</h3>
          <input name="uname" type="text" class="inp_ly">
          <div id="clear"></div>
          <h3>手机：</h3>
          <input name="homepage" type="text" class="inp_ly">
          <input name="订阅" type="submit" value="订阅">
        </div>
      </form>
    </div>
    <ul>
      <li><a href="#"  title="瓦楞包装：以“绿色”席卷市场">瓦楞包装：以“绿色”席卷市场</a>[2015-06-25]</li>
      <li><a href="#"  title="纸张的印刷适性管理">纸张的印刷适性管理</a>[2015-06-14]</li>
      <li><a href="#"  title="不同的纸张印刷出来的效果有影响吗？">不同的纸张印刷出来的效果有影响吗？</a>[2015-02-14]</li>
      <li><a href="#"  title="什么样的纸张决定什么样的印刷质量">什么样的纸张决定什么样的印刷质量</a>[2015-02-13]</li>
      <li><a href="#"  title="包装纸盒印刷如何控制颜色的一致性">包装纸盒印刷如何控制颜色的一致性</a>[2015-02-12]</li>
      <li><a href="#"  title="CTP技术在印刷企业应用的三大领域">CTP技术在印刷企业应用的三大领域</a>[2015-02-11]</li>
      <li><a href="#"  title="印刷时使用的是哪一种色彩模式？">印刷时使用的是哪一种色彩模式？</a>[2015-02-10]</li>
    </ul>
  </div>
</div>
<div class="lanmu_1">
  <h2><b>服务流程</b> / Service</h2>
  <h3>&nbsp;</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_fw"><img src="images/index_10.jpg" ></div>
<div class="links">
  <h2>友情链接</h2>
  <a href="#" >包装印刷</a> | <a href="#" >合肥画册印刷</a> | <a href="#" >不干胶标签印刷</a> | <a href="#" >丝路室内培训</a> | <a href="#" >画册印刷</a> | <a href="#" >西安户外广告制作</a> | <a href="#" >精装书印刷</a> | <a href="#" >北京印刷</a> | <a href="#" >安徽印刷网</a> | <a href="#" >理想一体化速印机</a> | <a href="#" >快马印务公司</a> |  </div>
<div class="bot_nav"><a href="#">关于快马</a>|<a href="#">产品包装盒</a>|<a href="#">企业宣传册</a>|<a href="#">精装书刊</a>|<a href="#">精美手提袋</a>|<a href="#">笔记本印刷</a>|<a href="#">纸制品印刷</a>|<a href="#">办公用品</a>|<a href="#">印刷常识</a>|<a href="#" rel="nofollow">联系快马</a></div>
<div class="bottom">合肥印刷厂集印刷品的策划、设计、印刷为一体的大型合肥印务公司,专业为您提供画册印刷及各种精美书籍、宣传单等印刷，安徽省合肥快马印务公司是全省最有实力的合肥印刷厂<br>
  Copyright 2013 安徽省快马印刷公司_合肥印务公司_合肥印刷厂 版权所有 All Rights Reserved 皖ICP备10006187号-6</div>
<!--1003-->
</body>
</html>