<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="#">
<title>网站首页</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<%- include ./include/head.html %>
<div id="clear"></div>
<div class="banner">
  <div class="bd">
    <ul style="position: relative; width: 1000px; height: 366px;">
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: list-item;"><a href="#" title="幻灯一">
            <img src="images/huandeng_1.jpg" width="1000" height="360" ></a></li>
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="#" title="幻灯二">
            <img src="images/huandeng_2.jpg" width="1000" height="360" ></a></li>
      <li style="position: absolute; width: 1000px; left: 0px; top: 0px; display: none;"><a href="#" title="幻灯三">
            <img src="images/huandeng_3.jpg" width="1000" height="360" ></a></li>
    </ul>
  </div>
  <div class="w100">
    <div class="hd">
      <ul>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="on">&nbsp;</li>
      </ul>
       <a class="next"></a>
      <a class="prev"></a>
     </div>
  </div>
  <div class="index_gjc">
    <%- include ./include/search.html %>
  </div>
</div>
<script>jQuery(".banner").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,easing:"swing"});</script>
<div class="lanmu_1">
  <h2><b>产品类别</b> / Category</h2>
  <h3><b>产品展示</b> / Product</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> </div>
<div class="index_cp index_sc"> 
  <script>
$(function() {
    $(".fl_sli").mousemove(function() {
        $(this).addClass("lm1_at");
    });
  $('.fl_sli').mouseleave(function(){
        $(this).removeClass("lm1_at");
  });
});
</script>
  <div class="ft cp_l index_xd">
     <%- include ./include/category.html %>
  </div>
  <div class="fr cp_r">
    <div class="cp_sli">
      <ul>
       <%   photoDocs.forEach(function(photo){  %>
        <%          if(photo.cate == '产品展示'){  %>
        <%                  photo.typeArray.forEach(function(p){  %>
                                  <li><a href="#" title="<%-  p.name %>">
                                          <img src="<%-  p.picUrl %>" width="172" height="126" ></a>
                                  <h3><a href="#"><%-  p.name %></a></h3>
         <%                 }); %>
        <%          } %>
        <%  }); %>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<div class="index_dkh">
  <h2><a href="#">&nbsp;</a><b>大客户列表</b>Large Customers</h2>
  <div class="dkh_bd">
    <div class="tempWrap" style="overflow:hidden; position:relative; width:954px">
      <ul style="width: 3816px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1810px;">
        <%   photoDocs.forEach(function(photo){  %>
        <%          if(photo.cate == '大客户列表'){  %>
        <%                  photo.typeArray.forEach(function(p){  %>
                                   <li style="float: left; width: 106px;"><img src="<%-  p.picUrl %>" width="98" height="62" ></li>
         <%                 }); %>
        <%          } %>
        <%  }); %>
      </ul>
    </div>
  </div>
  <div class="dkh_hd"><a class="next"></a><a class="prev"></a></div>
</div>
<script>jQuery(".index_dkh").slide({mainCell:".dkh_bd ul",titCell:".dkh_hd li",autoPlay:true,effect:"leftMarquee",vis:9,interTime:50});</script>

<%- include ./include/tenGood.html %>

<div class="lanmu_1">
  <h2><b>荣誉资质</b> / Honors</h2>
  <h3><b>公司简介</b> / Company Profile</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
  <a href="#" title="更多">&nbsp;</a> </div>
<div class="index_jj">
  <div class="ft jj_ry">
    <div class="tempWrap" style="overflow:hidden; position:relative; height:528px">
      <ul style="height: 4224px; position: relative; padding: 0px; margin: 0px; top: -1408px;">
        <%   photoDocs.forEach(function(photo){  %>
        <%          if(photo.cate == '荣誉资质'){  %>
        <%                  photo.typeArray.forEach(function(p){  %>
                                      <li style="height: 176px;">
                                            <img src="<%-  p.picUrl %>" width="172" height="126" >
                                             <h3><%-  p.name %></h3>
                                       </li>
         <%                 }); %>
        <%          } %>
        <%  }); %>
      </ul>
    </div>
  </div>
  <script>jQuery(".jj_ry").slide({mainCell:"ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:3,delayTime:1000});</script>
  <div class="fr rr_sm"><a href="#"  title="安徽省快马印刷公司"><img src="<%- connectUs.picUrl %>" width="255" height="180"  class="img_3"></a>
    <h1><%- connectUs.name %></h1>
    <h3><%- connectUs.content %></h3>
    <div class="index_xc">
      <ul>

        <%  articleDocs.forEach(function(cate){ %>
        <%      if(cate.name == '公司简介'){ %>
        <%          cate.typeArray.forEach(function(article,index){ %>
        <%                 if( index < 8){ %>
                              <li><a><%- article.title %></a>
                              [<%- article.createDate.getFullYear()+"-"
                              + (article.createDate.getMonth()+1)+"-"
                              + article.createDate.getDate() %>]
                              </li>
        <%                 } %>
        <%          }); %>
        <%      } %>
        <%  }); %>
      </ul>
    </div>
    <div class="index_sb">
      <h2><a href="#">&nbsp;</a><b>设备展示</b> / Equipment Show</h2>
      <div class="sb_li">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:756px">
          <ul style="width: 4536px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1553.202px;">
            <%   photoDocs.forEach(function(photo){  %>
            <%          if(photo.cate == '设备展示'){  %>
            <%                  photo.typeArray.forEach(function(p){  %>
                                          <li style="float: left; width: 189px;"><a href="#" title="<%- p.name %>">
                                                <img src="<%- p.picUrl %>" width="172" height="126" ></a>
                                                <h3><a href="#"><%- p.name %></a></h3>
                                         </li>
            <%                 }); %>
            <%          } %>
            <%  }); %>
          </ul>
        </div>
      </div>
    </div>
    <script>jQuery(".index_sb").slide({mainCell:".sb_li ul",autoPage:true,effect:"leftLoop",autoPlay:true,vis:4});</script> 
  </div>
  <div id="clear"></div>
</div>
<div class="lanmu_1">
  <h2><b>中标项目</b> / Solutions</h2>
  <h3><b>客户眼中的快马印务</b></h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_fa">
  <div class="ft fa_l">
    <%  articleDocs.forEach(function(cate){ %>
    <%      if(cate.name == '中标项目'){ %>
    <%            if(cate.typeArray[0]){ %>
                 <div class="tac"><a href="#"  
                 title="<%- cate.typeArray[0].title %>">
                 <img src="<%- cate.typeArray[0].picUrl %>"  
                 width="206" height="76"></a> </div>
    <%            } %>
            <ul>
    <%          cate.typeArray.forEach(function(article,index){ %>
    <%                 if( index < 7){ %>
                          <li><a><%- article.title %></a></li>
    <%                 } %>
    <%          }); %>
             </ul>
    <%      } %>
    <%  }); %>
     </div>
  <div class="fr fa_r">
    <ul>
    <%  articleDocs.forEach(function(cate){ %>
    <%      if(cate.name == '客户眼中的快马印务'){ %>
    <%          cate.typeArray.forEach(function(article,index){ %>
    <%              if(index < 2){ %>
                      <li> <a href="#"  title="<%- article.title %>">
                      <img width="192" height="112" src="<%- article.picUrl %>" ></a>
                       <h1>
                       <a href="#"  title="<%- article.title %>">
                        <%- article.title %></a></h1>
                      <%  var dealContent = article.content.replace(/<[^>]+>/g,"").substr(0,100) %>
                     <h3><%- dealContent %></h3>
                        <h4><a href="#"  title="<%- article.title %>!">+ 更多详情</a></h4>
                    </li>
    <%               } %>
    <%          }); %>
    <%      } %>
    <%  }); %>
    </ul>
  </div>
</div>
<div class="index_ad"><script src="images/ad_js.php" language="javascript"></script></div>

<%- include ./include/connectUs.html %>

<div class="lanmu_1">
  <h2><b>服务流程</b> / Service</h2>
  <h3>&nbsp;</h3>
  <h4>服务热线：<b>0551-65220569 4000551009</b></h4>
</div>
<div class="index_fw"><img src="images/index_10.jpg" ></div>
<div class="links">
  <h2>友情链接</h2>
  <a href="#" >包装印刷</a> | <a href="#" >合肥画册印刷</a> | <a href="#" >不干胶标签印刷</a> | <a href="#" >丝路室内培训</a> | <a href="#" >画册印刷</a> | <a href="#" >西安户外广告制作</a> | <a href="#" >精装书印刷</a> | <a href="#" >北京印刷</a> | <a href="#" >安徽印刷网</a> | <a href="#" >理想一体化速印机</a> | <a href="#" >快马印务公司</a> |  </div>

<%- include ./include/foot.html %>

</body>
</html>