<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <% var tarProduct = {} %>
    <% proArray.forEach(function(pro){ %>
    <%    if(pro._id == _proId){ %>
    <%      tarProduct = pro;  %>
    <%    } %>
    <%  }) %>
    <title><%- tarProduct.name %>-新疆印务</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" rev="stylesheet" href="css/pshow2.css" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript">
//产品标题
var OBJ_TITLE = "精装画册印刷";
//视频关键词
var VIDEO_KEY = "";
//权限ID
var AUTHORITY_ID = "";
//图片路径数组
var ARR_IMG_PATH = ["/uploads/140306/sx/huace_005_yinshua.jpg"];
var ColumnID=8;
var ProductID=69;
var PColumnID="2";
var ColumnName="精装画册印刷";
var HitLayer="ProductHits";
var Hits=200;
var MARK = "product";
var ARR_AD_MARK = ["product_detail_1"];
var SID = "0001,0002,0008";
var atts="";
</script>

<%- include ./include/head.html %>

<div class="index_gjc2">
<%- include ./include/search.html %>
</div>
<div id="clear"></div>
<div class="index_ad"><img src="images/banner_sp_17.jpg" width="1000" height="200"></div>
<div class="nowsite">
  <h2><b>产品类别</b> / Category</h2>
  <h3>您现在的位置： 
                  <%  for(var i=0;i<productDocs.length;i++){ %>
                  <%     if(productDocs[i]._id == _id){ %>
                              <%- productDocs[i].title %></a>
                  <%          var _typeArray = productDocs[i].typeArray; %>
                  <%          _typeArray.forEach(function(cate){ %>
                  <%            if(cate._id == _cateId){ %>
                                  &gt;<%- cate.cateName %>
                                  &gt;<%- tarProduct.name %>
                  <%            } %>
                  <%          }); %>
                  <%      } %>
                  <%  } %>
</div>
<div class="product">
  <div class="fr product_r">
    <div class="pro_li">
      <%- include ./include/category.html %>
    </div>
    <div id="clear"></div>
    <div class="pro_rt">热销产品</div>
    <div class="pro_rx">
      <ul>
          <%  var allShowTotal = 4; %>
          <%  var _allShowCount = 0; %>
          <%  var ranTypeArray = ranPro.typeArray; %>
          <%     var typeRandom = 
                      parseInt(ranTypeArray.length*Math.random()); %>
          <%   for(var i=0;i<ranTypeArray.length;i++){ %>
          <%     var typeArrayPojo = 
                      ranTypeArray[typeRandom++%ranTypeArray.length]; %>
          <%     var productRandom =   
                        parseInt(typeArrayPojo.productArray.length*Math.random()); %>
          <%          for(var j=0;j<typeArrayPojo.productArray.length;j++){  %>
          <%              var proPojo = 
                            typeArrayPojo.productArray[productRandom++%typeArrayPojo.productArray.length]; %>
          <%               if(proPojo && _allShowCount < allShowTotal){ %>
                <li><a href="/print/product?_id=<%- ranPro._id%>&_cateId=<%- typeArrayPojo._id %>" ><img src="<%- proPojo.picture %>" width="172" height="126"></a>
                <h4><a href="/print/product?_id=<%- ranPro._id%>&_cateId=<%- typeArrayPojo._id %>" ><%- proPojo.name %>[<%- typeArrayPojo.cateName %>]</a></h4>
                </li>
          <%                _allShowCount++; %>
          <%               } %>
          <%          } %>
          <%   } %>
      </ul>
    </div>
    <div class="pro_rt">联系我们</div>
    <div class="pro_lx">
      <div class="tac"><a href="#" ><img src="images/n2.jpg" width="224" height="115"></a></div>
      <p>名称: <%- connectUs.name %><br>
        Q Q : <a href="#" rel="nofollow"><%- connectUs.QQ %></a><br>
        电话: <%- connectUs.tel %> <br>
        邮箱: <%- connectUs.email %> <br>
        地址: <%- connectUs.address %> <br>
        厂址: <%- connectUs.comAddress %></p>
    </div>
  </div>
  <div class="ft product_l">
    <div class="pro_title">
      <div class="pro_bd">
        <div class="tempWrap" style="overflow:hidden; position:relative; height:300px">
          <ul style="height: 900px; position: relative; padding: 0px; margin: 0px; top: -300px;">
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="<%- tarProduct.picture %>" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="<%- tarProduct.picture %>" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="<%- tarProduct.picture %>" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="pro_hd">
        <ul>
          <li class="on"><img src="<%- tarProduct.picture %>" width="60" height="60"></li>
        </ul>
      </div>
      <div class="pro_kkk">
        <h1>[<%- tarProduct.name %>]</h1>
        <h3>
          <% if(tarProduct.introduce){ %>
                <%- tarProduct.introduce %>
          <% } %>
          <br>
          0551-65220569
        </h3>
        <p><a rel="nofollow" ><img src="images/buynowsmalls.gif"></a></p>
        <div class="art_fx">
          <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1440555061291"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" ></a><a href="#" class="bds_qzone" data-cmd="qzone" ></a><a href="#" class="bds_tsina" data-cmd="tsina" ></a><a href="#" class="bds_tqq" data-cmd="tqq" ></a><a href="#" class="bds_renren" data-cmd="renren" ></a></div></div>
      </div>
    </div>
    <script>jQuery(".pro_title").slide({mainCell:".pro_bd ul",titCell:".pro_hd li",effect:"topLoop",autoPlay:true});</script>
    <div class="pro_xg"> <a href="#" rel="nofollow" ><img src="images/dingzhi_1.jpg" width="740"></a>
      <h2>相关产品</h2>
      <ul>
      <%    var proRandom = parseInt(proArray.length*Math.random()); %>
      <%    var proCountFlag = 0 %>
      <%  for(var i=0;i<proArray.length;i++){ %>
      <%      proRandom++; %>
      <%      var tempPro = proArray[proRandom%proArray.length]; %>
      <%      if( proCountFlag > 3 ) break; %>
      <%      if(tempPro._id == _proId) continue;%>
      <%        proCountFlag++ %>
              <li><a href="/print/proDetail?_id=<%- tempPro._parentId._id %>&_cateId=<%- tempPro._parentId._cateId %>&_proId=<%- tempPro._id %>">
                  <img src="<%- tempPro.picture %>" 
                  width="172" height="126"></a>
                  <h4><a href="/print/proDetail?_id=<%- tempPro._parentId._id %>&_cateId=<%- tempPro._parentId._cateId %>&_proId=<%- tempPro._id %>"><%- tempPro.name %></a></h4>
              </li> 
      <%  } %>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="pro_xx">
      <h2>产品详情</h2>
      <div class="xx_text">
        <table style="width:660px;">
          <tbody>
            <%  if(tarProduct.detail){ %>
            <%    var detail = tarProduct.detail; %>
            <%    for(var i=0,ii=detail.length;i<ii;i+=2){ %>
            <%      if(detail[i]){ %>
                      <tr>
                      <td style="width:365px;">
                        <%- detail[i].title %>:<%- detail[i].content %>
                      </td>
            <%        if(detail[i+1]){ %>
                        <td style="width:295px;">
                          <%- detail[i+1].title %>:<%- detail[i+1].content %>
                        </td>
            <%        } %>
                      </tr>
            <%      } %>
            <%    } %>
            <%  } %>
          </tbody>
        </table>
        &nbsp;<br>
        <%- tarProduct.content %>
      </div>
      <div class="keywords">产品关键词: 画册印刷,宣传画册印刷,企业画册印刷,产品画册印刷</div>
      <div><a href="#" rel="nofollow" ><img src="images/dingzhi_2.jpg" width="740"></a></div>
    </div>
    <div class="pro_ly"><a name="dg"></a>
      <h2>宏盛印务十大优势</h2>
      <div><a href="#" rel="nofollow" ><img src="images/youshi_1.jpg" width="720"></a><br>
        <a href="#" rel="nofollow" ><img src="images/youshi_2.jpg" width="720"></a><br>
      </div>
      <div id="clear"></div>
    </div>
    <div class="pro_xx">
      <h2>联系宏盛</h2>
      <div class="xx_text"><a href="#" rel="nofollow" ><img src="images/lianxifangshi.png" width="720"></a></div>
    </div>
  </div>
  <div id="clear"></div>
</div>
<div class="bot_nav"><a href="#">关于宏盛</a>|<a href="#">产品包装盒</a>|<a href="#">企业宣传册</a>|<a href="#">精装书刊</a>|<a href="#">精美手提袋</a>|<a href="#">笔记本印刷</a>|<a href="#">纸制品印刷</a>|<a href="#">办公用品</a>|<a href="#">印刷常识</a>|<a href="#" rel="nofollow">联系宏盛</a></div>
<div class="bottom">乌鲁木齐印刷厂集印刷品的策划、设计、印刷为一体的大型乌鲁木齐印务公司,专业为您提供画册印刷及各种精美书籍、宣传单等印刷，新疆省乌鲁木齐宏盛印务公司是全省最有实力的乌鲁木齐印刷厂<br>
  Copyright 2013 新疆省宏盛印刷公司_乌鲁木齐印务公司_乌鲁木齐印刷厂 版权所有 All Rights Reserved 皖ICP备10006187号-6</div>
<!--1003-->
</body>
</html>