<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>产品详情页</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" rev="stylesheet" href="css/pshow2.css" type="text/css">
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript">
//产品标题
var OBJ_TITLE = "精装画册印刷";
//视频关键词
var VIDEO_KEY = "";
//权限ID
var AUTHORITY_ID = "";
//图片路径数组
var ARR_IMG_PATH = ["/uploads/140306/sx/huace_005_yinshua.jpg"];
var ColumnID=8;
var ProductID=69;
var PColumnID="2";
var ColumnName="精装画册印刷";
var HitLayer="ProductHits";
var Hits=200;
var MARK = "product";
var ARR_AD_MARK = ["product_detail_1"];
var SID = "0001,0002,0008";
var atts="";
</script>
<div class="head">
  <div class="w100">
    <div class="ft"><a href="#" >印刷厂</a> <a href="#" >画册印刷</a> <a href="#" >纸袋定做</a> <a href="#" >合肥印刷公司</a> </div>
    <div class="fr"><a href="#" rel="nofollow" ><img src="images/ico01.gif"> 新浪微博</a><a href="#" rel="nofollow" >腾讯微博</a>|<a href="#" rel="nofollow" >阿里巴巴旺铺</a>|<a href="#" rel="nofollow" >在线留言</a>|<a href="#" rel="nofollow">关于快马</a>|<a href="#">站点地图</a></div>
  </div>
</div>
<div class="logo_s">
  <div class="ft"><a href="#" rel="nofollow" ><img src="images/logo.jpg" width="358" height="85"></a></div>
  <div class="fr"><a href="#" rel="nofollow" ><img src="images/head_lx.jpg"></a></div>
</div>
<div class="nav">
  <ul>
    <li class="nav_sy"><a href="#">快马首页</a></li>
    <li class="nav_2"><a href="#">宣传品印刷</a>
      <h3><a href="#">画册</a><a href="#">说明书</a><a href="#">楼书</a><a href="#">封套</a><a href="#">海报</a><a href="#">单页折页</a></h3>
    </li>
    <li><a href="#">书刊印刷</a>
      <h3><a href="#">图书</a><a href="#">汇编</a><a href="#">精装书</a><a href="#">家谱</a><a href="#">培训教材</a><a href="#">年鉴</a><a href="#">期刊杂志</a></h3>
    </li>
    <li class="nav_2"><a href="#">包装品印刷</a>
      <h3><a href="#">蔬果包装</a><a href="#">鸡蛋包装</a><a href="#">干货包装</a><a href="#">杂粮包装</a><a href="#">红酒包装</a><a href="#">礼品包装</a><a href="#">白酒包装</a><a href="#">糕点包装</a><a href="#">茶叶包装</a><a href="#">喜糖包装</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸袋印刷</a>
      <h3><a href="#">广告纸袋</a><a href="#">礼品袋</a><a href="#">无纺布袋</a><a href="#">牛皮袋</a><a href="#">购物袋</a><a href="#">资料袋</a></h3>
    </li>
    <li><a href="#">促销品印刷</a>
      <h3><a href="#">春联</a><a href="#">大礼包</a><a href="#">扑克牌</a><a href="#">易事贴</a><a href="#">纸杯</a><a href="#">抽纸</a></h3>
    </li>
    <li class="nav_2"><a href="#">纸制品印刷</a>
      <h3><a href="#">不干胶</a><a href="#">台历</a><a href="#">挂历</a><a href="#">门票</a><a href="#">请柬</a><a href="#">菜谱</a></h3>
    </li>
    <li><a href="#">办公用品</a>
      <h3><a href="#">笔记本</a><a href="#">便签</a><a href="#">无碳票据</a><a href="#">报表</a><a href="#">信封信纸</a><a href="#">档案盒</a><a href="#">练习本</a></h3>
    </li>
    <li><a href="#">关于快马</a>
      <h3><a href="#">公司简介</a><a href="#">快马资质</a><a href="#">设备展示</a><a href="#">合作客户</a><a href="#">中标项目</a><a href="#">解决方案</a><a href="#">联系方式</a></h3>
    </li>
    <li><a href="#" rel="nofollow">联系快马</a></li>
  </ul>
</div>
<div class="index_gjc2">
  <div class="ft"><b>热门关键词：</b><a href="#">画册印刷</a> <a href="#">家谱印刷</a> <a href="#">纸袋印刷</a> <a href="#">包装盒印刷</a> <a href="#">合肥印刷</a></div>
  <div class="sousuo">
    <form name="formsearch" action="http://www.4000551009.com/plus/search.php">
      <input type="hidden" name="kwtype" value="0">
      <input type="hidden" name="searchtype" value="title">
      <input type="image" id="searchButton" src="./精装画册印刷_安徽快马印务公司-设计 印刷 报价一站式服务电话 400-0551-009_files/ss_2.jpg" class="ss_2">
      <input name="q" type="text" onfocus="if(this.value==&#39;输入搜索关键词&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;输入搜索关键词&#39;;" value="输入搜索关键词" class="ss_1">
    </form>
  </div>
</div>
<div id="clear"></div>
<div class="index_ad"><img src="images/banner_sp_17.jpg" width="1000" height="200"></div>
<div class="nowsite">
  <h2><b>产品类别</b> / Category</h2>
  <h3>您现在的位置：<a href="#">主页</a> &gt; <a href="#">宣传品印刷</a> &gt; <a href="#">画册</a></h3>
</div>
<div class="product">
  <div class="fr product_r">
    <div class="pro_li">
      <div class="fl_sli">
        <h2><a href="#">宣传品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">画册</a></li>
          <li><a href="#">说明书</a></li>
          <li><a href="#">楼书</a></li>
          <li><a href="#">封套</a></li>
          <li><a href="#">海报</a></li>
          <li><a href="#">单页折页</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">促销品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">春联</a></li>
          <li><a href="#">大礼包</a></li>
          <li><a href="#">扑克牌</a></li>
          <li><a href="#">易事贴</a></li>
          <li><a href="#">纸杯</a></li>
          <li><a href="#">抽纸</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">办公品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">笔记本</a></li>
          <li><a href="#">便签</a></li>
          <li><a href="#">无碳票据</a></li>
          <li><a href="#">报表</a></li>
          <li><a href="#">信封信纸</a></li>
          <li><a href="#">档案盒</a></li>
          <li><a href="#">练习本</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">包装品印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">蔬果包装</a></li>
          <li><a href="#">鸡蛋包装</a></li>
          <li><a href="#">干货包装</a></li>
          <li><a href="#">杂粮包装</a></li>
          <li><a href="#">红酒包装</a></li>
          <li><a href="#">礼品包装</a></li>
          <li><a href="#">白酒包装</a></li>
          <li><a href="#">糕点包装</a></li>
          <li><a href="#">茶叶包装</a></li>
          <li><a href="#">喜糖包装</a></li>
          <li><a href="#">月饼包装</a></li>
          <li><a href="#">医药包装</a></li>
          <li><a href="#">粽子包装</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">纸袋印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">广告纸袋</a></li>
          <li><a href="#">礼品袋</a></li>
          <li><a href="#">无纺布袋</a></li>
          <li><a href="#">牛皮袋</a></li>
          <li><a href="#">购物袋</a></li>
          <li><a href="#">资料袋</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">书刊印刷</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">图书</a></li>
          <li><a href="#">汇编</a></li>
          <li><a href="#">精装书</a></li>
          <li><a href="#">家谱</a></li>
          <li><a href="#">培训教材</a></li>
          <li><a href="#">年鉴</a></li>
          <li><a href="#">期刊杂志</a></li>
        </ul>
        <div id="clear"></div>
      </div>
      <div class="fl_sli">
        <h2><a href="#">春联大礼包</a></h2>
        <h3>&nbsp;</h3>
        <ul>
          <li><a href="#">不干胶</a></li>
          <li><a href="#">台历</a></li>
          <li><a href="#">挂历</a></li>
          <li><a href="#">门票</a></li>
          <li><a href="#">请柬</a></li>
          <li><a href="#">菜谱</a></li>
        </ul>
        <div id="clear"></div>
      </div>
    </div>
    <div id="clear"></div>
    <div class="pro_rt">热销产品</div>
    <div class="pro_rx">
      <ul>
        <li><a href="#" ><img src="images/wufangbudai_001_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">高品质无纺布袋</a></h4>
        </li>
        <li><a href="#" ><img src="images/dalibao_001_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">大礼包定制</a></h4>
        </li>
        <li><a href="#" ><img src="images/lipindai_001_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">服装礼品袋</a></h4>
        </li>
        <li><a href="#" ><img src="images/gouwudai_005_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">购物纸袋定制</a></h4>
        </li>
      </ul>
    </div>
    <div class="pro_rt">联系我们</div>
    <div class="pro_lx">
      <div class="tac"><a href="#" ><img src="images/n2.jpg" width="224" height="115"></a></div>
      <p>名称: 安徽省快马印务有限责任公司<br>
        Q Q : <a href="#" rel="nofollow" >400&nbsp;<font color="#cc0000">0551</font>&nbsp;009</a> <br>
        网站: <a href="#">400&nbsp;<font color="#cc0000">0551</font>&nbsp;009.com</a> <br>
        电话: 400-<font color="#cc0000">0551</font>-009 <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0551-65220569 <br>
        邮箱: kuaima888@126.com <br>
        地址: 合肥市市府广场天徽大厦C座6层 <br>
        厂址: 合肥市双凤开发区快马工业园</p>
    </div>
  </div>
  <div class="ft product_l">
    <div class="pro_title">
      <div class="pro_bd">
        <div class="tempWrap" style="overflow:hidden; position:relative; height:300px">
          <ul style="height: 900px; position: relative; padding: 0px; margin: 0px; top: -300px;">
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="images/huace_005_yinshua.jpg" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="images/huace_005_yinshua.jpg" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
            <li style="height: 300px; position: relative;"><a href="#"   class="jqzoom" style="outline-style: none; text-decoration: none; cursor: crosshair; display: block; position: relative; height: 300px; width: 300px;"><img src="images/huace_005_yinshua.jpg" width="302" height="302" class="js_goods_image_url">
              <div class="preload" style="visibility: hidden;">Loading zoom</div>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="pro_hd">
        <ul>
          <li class="on"><img src="images/huace_005_yinshua.jpg" width="60" height="60"></li>
        </ul>
      </div>
      <div class="pro_kkk">
        <h1>[精装画册印刷]</h1>
        <h3>有没有这种感觉：捧一本产品画册，就知道这个产品到底属于什么档次。色彩、质感、品味，从出片、用版，到材质匹配，上光、后期装订、裁切，每一个环节都要精益求精。印好画册，也是一个系统工程：好工人、好设备、好管理。<br>
          0551-65220569</h3>
        <p><a href="#" rel="nofollow" ><img src="images/buynowsmalls.gif"></a></p>
        <div class="art_fx">
          <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1440555061291"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" ></a><a href="#" class="bds_qzone" data-cmd="qzone" ></a><a href="#" class="bds_tsina" data-cmd="tsina" ></a><a href="#" class="bds_tqq" data-cmd="tqq" ></a><a href="#" class="bds_renren" data-cmd="renren" ></a></div></div>
      </div>
    </div>
    <script>jQuery(".pro_title").slide({mainCell:".pro_bd ul",titCell:".pro_hd li",effect:"topLoop",autoPlay:true});</script>
    <div class="pro_xg"> <a href="#" rel="nofollow" ><img src="images/dingzhi_1.jpg" width="740"></a>
      <h2>相关产品</h2>
      <ul>
        <li><a href="#"><img src="images/huace_006_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">企业画册印刷</a></h4>
        </li>
        <li><a href="#"><img src="images/huace_001_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">房地产画册印刷</a></h4>
        </li>
        <li><a href="#"><img src="images/huace_002_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">专业画册印刷</a></h4>
        </li>
        <li><a href="#"><img src="images/huace_003_yinshua.jpg" width="172" height="126"></a>
          <h4><a href="#">集团周年纪念画册</a></h4>
        </li>
      </ul>
      <div id="clear"></div>
    </div>
    <div class="pro_xx">
      <h2>产品详情</h2>
      <div class="xx_text">
        <table style="width:660px;">
          <tbody>
            <tr>
              <td style="width:365px;"> 名&nbsp;&nbsp;&nbsp;&nbsp;称：&nbsp;<a href="#" ><u>画册</u></a>&nbsp;宣传册&nbsp;说明书&nbsp;目录等统称--<a href="#" ><u>画册</u></a></td>
              <td style="width:295px;"> 尺寸分别：210*285mm;可根据客户要求定制</td>
            </tr>
            <tr>
              <td style="width:365px;"> 装钉方式：折页;骑马钉;锁线胶装;上胶圈;Y型圈等多种装钉方式</td>
              <td style="width:295px;"> 表面处理：过光胶;过哑胶;过油</td>
            </tr>
            <tr>
              <td style="width:365px;"> 特殊工艺：过UV;烫金（银）;击凸;覆膜;压纹等多项特别工艺服务。</td>
              <td style="width:295px;"> 合作方式：提供设计，印刷，送货一条龙服务</td>
            </tr>
            <tr>
              <td style="width:365px;"> 设计交流：专业的设计师一对一服务</td>
              <td style="width:295px;"> 交货方式：合肥市内送货上门,其他地方物流自提</td>
            </tr>
          </tbody>
        </table>
        &nbsp;<br>
        <img src="images/huace_005-1_yinshua.jpg" style="width: 600px; height: 400px;"><br>
        <img src="images/huace_005-2_yinshua.jpg" style="width: 600px; height: 400px;"><br>
        <img src="images/huace_005-3_yinshua.jpg" style="width: 600px; height: 400px;"><br>
        <img src="images/huace_005-4_yinshua.jpg" style="width: 600px; height: 400px;"></div>
      <div class="keywords">产品关键词: 画册印刷,宣传画册印刷,企业画册印刷,产品画册印刷</div>
      <div><a href="#" rel="nofollow" ><img src="images/dingzhi_2.jpg" width="740"></a></div>
    </div>
    <div class="pro_ly"><a name="dg"></a>
      <h2>快马印务十大优势</h2>
      <div><a href="#" rel="nofollow" ><img src="images/youshi_1.jpg" width="720"></a><br>
        <a href="#" rel="nofollow" ><img src="images/youshi_2.jpg" width="720"></a><br>
      </div>
      <div id="clear"></div>
    </div>
    <div class="pro_xx">
      <h2>联系快马</h2>
      <div class="xx_text"><a href="#" rel="nofollow" ><img src="images/lianxifangshi.png" width="720"></a></div>
    </div>
  </div>
  <div id="clear"></div>
</div>
<div class="bot_nav"><a href="#">关于快马</a>|<a href="#">产品包装盒</a>|<a href="#">企业宣传册</a>|<a href="#">精装书刊</a>|<a href="#">精美手提袋</a>|<a href="#">笔记本印刷</a>|<a href="#">纸制品印刷</a>|<a href="#">办公用品</a>|<a href="#">印刷常识</a>|<a href="#" rel="nofollow">联系快马</a></div>
<div class="bottom">合肥印刷厂集印刷品的策划、设计、印刷为一体的大型合肥印务公司,专业为您提供画册印刷及各种精美书籍、宣传单等印刷，安徽省合肥快马印务公司是全省最有实力的合肥印刷厂<br>
  Copyright 2013 安徽省快马印刷公司_合肥印务公司_合肥印刷厂 版权所有 All Rights Reserved 皖ICP备10006187号-6</div>
<!--1003-->
</body>
</html>