<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员添加页面</title>
<%- include ../include/base.html %>
</head>
<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">管理员信息</a></li>
    <li><a href="#">添加管理员</a></li>
    </ul>
    </div>
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <form id="DataForm">
        <input type="hidden" value="<%=admin._id%>" name="_id" />
        <ul class="forminfo">
        <li><label>登陆账号</label>
            <input name="name" type="text"  value="<%= admin.name%>" class="dfinput" />
            <i>登陆用的账号</i>
        </li>
        <li><label>登陆密码</label>
            <input name="password" type="password" value="<%= admin.password%>" class="dfinput" />
            <i>登陆的密码</i>
        </li>
        <li><label>真实姓名</label>
            <input name="realName" type="text" value="<%= admin.realName%>" class="dfinput" />
            <i>真实的姓名</i>
        </li>
        <li><label>部门名称</label>
            <input name="partment" type="text"  value="<%= admin.partment%>" class="dfinput" />
            <i>填写部门名称</i>
        </li>
        <li><label>手机号码</label>
            <input name="tel" type="text" value="<%= admin.tel%>" class="dfinput" />
            <i>接受短信的手机号码</i>
        </li>
        <li><label>&nbsp;</label>
            <input onclick="sub();" type="button" class="btn" value="确认保存"/>
        </li>
        </ul>
    </form>
    </div>
</body>
<script type="text/javascript">
    function sub(){
        base_confirm(function(){
            var data = $("#DataForm").serialize();
            $.post('/back/updateAdmin',data,function(msg){
                msg == "true" ? window.location.href = "/back/adminList" : alert('填写错误');
            });
        })
    }
</script>
</html>
