<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生信息管理页面</title>
<link href="/back/resource/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/back/resource/js/jquery.js" ></script>
<script type="text/javascript" charset="utf-8" src="/public/plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/public/plugin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/public/plugin/ueditor/lang/zh-cn/zh-cn.js"> </script>
<script type="text/javascript">
//列表单复数变色
$('.tablelist tbody tr:odd').addClass('odd');
</script>
</head>
<body ng-controller="main">
    <ts-top ng-show="show.top"></ts-top>
    <div class="rightinfo">
    <ts-tool ng-show="show.tools"></ts-tool>
    <div ng-show="show.list">
    <div>
        <input type="text" class="dfinput"   ng-model="searchPojo.name" placeHolder="用户名查询" />
        <input type="button" value="查询" class="btn"   ng-click="getSearchPage(1)" />
    </div>
    <table class="tablelist">
       <thead>
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>登陆密码</th>
            <th ng-click="title='realName';desc=!desc">真实姓名<img src="/back/resource/images/px.gif"></th>
            <th>所属部门</th>
            <th ng-click="title='tel';desc=!desc">手机号码<img src="/back/resource/images/px.gif"></th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stu in datas | orderBy : title : desc | filter: { name: searchPojo.name } ">
            <td>{{ $index +1  }}</td>
            <td ng-click="getDetail(stu);"><a href="#">{{ stu.name }}</a></td>
            <td>{{ stu.password }}</td>
            <td>{{ stu.realName }}</td>
            <td>{{ stu.partment }}</td>
            <td>{{ stu.tel }}</td>
            <td><a href="#" ng-click="removeStu(stu)">delete</a></td>
        </tr>
        </tbody>
    </table>
    </div>
    <ts-add ng-if="show.add"></ts-add>
    <tm-pagination conf="paginationConf" ng-show="show.page"></tm-pagination>
    </body>
<script type="text/ng-template" id="top">
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">数据表</a></li>
            <li><a href="#">基本内容</a></li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="tools">
        <div class="tools">
         <ul class="toolbar">
         <li ng-click="show.$set('list')"><a href="#" >
         <span><img src="/back/resource/images/t04.png"/></span>统计</a></li>
        <li ng-click="pojo={};show.$set('add')"a href="#" >
        <span><img src="/back/resource/images/t01.png" /></span>添加</a></li>
        <li class="click"><span><img src="/back/resource/images/t02.png"  /></span>修改</li>
        <li><span><img src="/back/resource/images/t03.png" /></span>删除</li>
        </ul>
        <ul class="toolbar1">
        <li><span><img src="/back/resource/images/t05.png"  /></span>设置</li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="add">
    <div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <form 
        name="subForm"
        ng-submit="save()"
        >
        <ul class="forminfo">
        <li><label>登陆账号</label>
            <input  ng-model="pojo.name"  name="t_name" required
            type="text" class="dfinput"  />
            <i ng-show="subForm.t_name.$error.required">请输入账号</i>
        </li>
        <li><label>登陆密码</label>
            <input ng-model="pojo.password"  name="t_password"  required 
            type="password" class="dfinput" />
            <i ng-show="subForm.t_password.$error.required">请输入密码</i>
        </li>
        <li><label>真实姓名</label>
            <input ng-model="pojo.realName"  name="t_realName" required
            type="text" class="dfinput"  />
            <i ng-show="subForm.t_realName.$error.required">请输入姓名</i>
        </li>
        <li><label>部门名称</label>
            <input ng-model="pojo.partment" name="t_partment" required
             type="text" class="dfinput"  />
            <i ng-show="subForm.t_partment.$error.required">请输入部门名称</i>
        </li>
        <li><label>手机号码</label>
            <input   ng-model="pojo.tel"  name="t_tel" required
            type="text" class="dfinput"  />
            <i ng-show="subForm.t_tel.$error.required">请输入手机号</i>
        </li>
        <div  style="width:700px;height:500px;float:left"  class="ueditor" config="config"ng-model="pojo.content"></div>
        <li><label>&nbsp;</label>
            <input  type="submit" ng-disabled="subForm.$invalid"
            class="btn" value="确认保存"/>
         </li>
        </ul>
    </form>
    </div>
</script>
<script type="text/javascript" src="/public/plugin/util/jsExtend.js"></script>
<script type="text/javascript" src="/public/bower_components/angular/angular.js">
</script>
<script type="text/javascript" src="/public/bower_components/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/public/bower_components/angular/tm.pagination.js">
</script>
<script type="text/javascript" src="/public/bower_components/angular/angular-ueditor.js">
</script>
<script type="text/javascript" src="/public/bower_components/angular/angular-showCtrl.js">
</script>
<script type="text/javascript">
var app = angular.module('myApp',['tm.pagination',
                                                            'ng.ueditor',
                                                            'service.showCtrl'
                                                            ]);
app.directive('tsTop',function(){
    return {
        restrict:'EAC',
        templateUrl:'top'
    }
})
app.directive('tsTool',function(){
    return {
        restrict:'EAC',
        templateUrl:'tools'
    }
})
app.directive('tsAdd',function(){
    return {
        restrict:'EAC',
        templateUrl:'add'
    }
})

app.service('$_data',["$http",
    function($http){
        this.getData = function(search){
            return $http.post('/back/student/stuData',search);
        };
        this.save = function(pojo){
            return $http.post('/back/student/saveStu',pojo);
        };
        this.remove = function(pojo){
            return $http.post('/back/student/removeStu',pojo);
        };
        this.update = function(pojo){
            return $http.post('/back/student/updateStu',pojo);
        }
    }
]);

app.controller('main',['$scope','showCtrl','$_data',
    function($scope,$_ctrl,$_data){
        $scope.title = "";
        $scope.desc = false;
        $scope.datas = [];
        $scope.show = $_ctrl;
        $scope.pojo = {};
        $scope.searchPojo ={
            name:"",
        }

        $scope.show.$regist('list',['top','tools','list','page'],true);
        $scope.show.$regist('add',['top','tools','add']);

        $scope.paginationConf = {
            currentPage: 1,
            totalItems: 80,
            itemsPerPage: 10,
            pagesLength: 8,
            perPageOptions: [10, 20],
            rememberPerPage: 'perPageItems',
            onChange: function(){
                $scope.searchPojo.itemsPerPage = $scope.paginationConf.itemsPerPage;
                $scope.getSearchPage($scope.paginationConf.currentPage);
            }
        };

        $scope.getSearchPage = function(currentPage){
            $scope.searchPojo.currentPage = currentPage;
            $_data.getData($scope.searchPojo).success(function(data){
                     $scope.datas = data.collection;
                     $scope.paginationConf.currentPage = data.pageInfo.currentPage;
                     $scope.paginationConf.totalItems = data.pageInfo.totalItems;
            })
        }

        $scope.getDetail = function(stu){
            $scope.pojo = stu;
            $scope.show.$set('add');
        }

        $scope.save = function(){
            if($scope.pojo._id){
                $_data.update($scope.pojo).success(function(data){
                    if(data == "true"){
                        $scope.show.$set('list');
                    }
                }).error(function(data){
                    alert("update curse error!");
                });
            }else{
                $_data.save($scope.pojo).success(function(data){
                    $scope.pojo = {};
                    $scope.show.$set('list');
                    $scope.paginationConf.totalItems++;
                })
            }
        }

        $scope.removeStu = function(pojo){
            $_data.remove(pojo).success(function(data){
                if(data == "true"){
                     $scope.paginationConf.totalItems--;
                     $scope.datas.remove(pojo);
                }
            });
        }

    }
])
</script>
</html>

