<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生信息管理页面</title>
<link href="/back/resource/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/back/resource/js/jquery.js" ></script>
<script type="text/javascript">
//警告的弹出框
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});
});
//列表单复数变色
$('.tablelist tbody tr:odd').addClass('odd');
</script>
</head>
<body ng-controller="main">
	<!--头部信息-->
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/back/page/#">首页</a></li>
    <li><a href="/back/page/#">数据表</a></li>
    <li><a href="/back/page/#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">

    <!--工具条-->
    <div class="tools">
    	<ul class="toolbar">
	        <li class="click">
	        	<span><img src="/back/resource/images/t01.png" /></span>添加
	        </li>
	        <li class="click">
	        	<span><img src="/back/resource/images/t02.png" /></span>修改
	        </li>
	        <li>
	        	<span><img src="/back/resource/images/t03.png" /></span>删除
	        </li>
	        <li>
	        	<span><img src="/back/resource/images/t04.png" /></span>统计
	        </li>
        </ul>
        <ul class="toolbar1">
        	<li><span><img src="/back/resource/images/t05.png" /></span>设置</li>
        </ul>
    </div>

    <!--列表页面-->
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号<i class="sort"><img src="/back/resource/images/px.gif" /></i></th>
        <th>用户名</th>
        <th>密码</th>
        <th>真实姓名</th>
        <th>部门</th>
        <th>电话</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stu in students">
            <td>{{ $index }}</td>
            <td>{{ stu.name }}</td>
            <td>{{ stu.password }}</td>
            <td>{{ stu.realName }}</td>
            <td>{{ stu.partment }}</td>
            <td>{{ stu.tel }}</td>
            <td>
                <a href="/back/page/#" class="tablelink">查看</a>     
                <a href="/back/page/#" class="tablelink"> 删除</a>
            </td>
        </tr>
        <tr>
        </tbody>
    </table>
    <div class="pagin">
    	<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="/back/page/javascript:;"><span class="pagepre"></span></a></li>
        <li class="paginItem"><a href="/back/page/javascript:;">1</a></li>
        <li class="paginItem current"><a href="/back/page/javascript:;">2</a></li>
        <li class="paginItem"><a href="/back/page/javascript:;">3</a></li>
        <li class="paginItem"><a href="/back/page/javascript:;">4</a></li>
        <li class="paginItem"><a href="/back/page/javascript:;">5</a></li>
        <li class="paginItem more"><a href="/back/page/javascript:;">...</a></li>
        <li class="paginItem"><a href="/back/page/javascript:;">10</a></li>
        <li class="paginItem"><a href="/back/page/javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
    </div>
</body>
<script type="text/javascript" src="/public/bower_components/angular/angular.js">
</script>
<script type="text/javascript" src="/public/bower_components/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/public/bower_components/angular/tm.pagination.js">
</script>
<script type="text/javascript">
	var app = angular.module('myApp',[]);

    app.service('stuService',['$http',
        function($http){
            this.getData = function(search){
                return $http.post('/back/student/stuData',search);
            }
        }   
    ])

	app.controller('main',['$scope','stuService',
		function($scope,stuService){
            $scope.students = [];
            stuService.getData(null).success(function(data){
                $scope.students = data.collection;
            }).error(function(data){
                alert("get stu list error!");
            })
		}
	])

</script>
</html>
<!--提示框    <div class="tip">
	<div class="tiptop"><span>提示信息</span><a></a></div>
    
  <div class="tipinfo">
    <span><img src="/back/resource/images/ticon.png" /></span>
    <div class="tipright">
    <p>是否确认对信息的修改 ？</p>
    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
    </div>
    </div>
    <div class="tipbtn">
    <input name="" type="button"  class="sure" value="确定" />&nbsp;
    <input name="" type="button"  class="cancel" value="取消" />
    </div>
</div>
-->


