<!DOCTYPE html>
<html lang="en" ng-app="a8_1">
<head>
	<meta charset="UTF-8">
	<title>ng</title>
	<style>
		.frame {
			padding: 2px 8px;
			margin: 0px;
			font-size: 12px;
			width: 320px;
			background-color: #eee;
		}
	</style>
</head>
<body>
	<div class="frame">
		<ts-hello></ts-hello>	
		<div ts-hello></div>
		<div class="ts-hello"></div>
		<div class="data-ts-hello"></div>
	</div>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular-resource.js"></script>
<script type="text/javascript">
	var app = angular.module('a8_1',[]);
	app.directive('tsHello',function(){
		return {
			restrict:'EAC',
			template:'<h3>Hello,angular</h3>'
		}
	});
</script>
</html>








