<!DOCTYPE html>
<html lang="en" ng-app="a7_9">
<head>
	<meta charset="UTF-8">
	<title>promise</title>
</head>
<body>
	<div ng-controller="c7_10">
		<div>{{result}}</div>
	</div>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular-resource.js"></script>
<script type="text/javascript">
	var app = angular.module('a7_9',[]);

	app.factory('async',['$q','$http',
		function($q,$http){
			var defer = $q.defer();
			$http.get('data/async')
			.success(function(data){
				defer.resolve(data);
			})
			.error(function(reason){
				defer.reject(reason);
			})
			return defer.promise;
		}
	]);

	app.controller('c7_10',['async','$scope',
		function(async,$scope){
			var promise = async;
			promise.then(function(resp){
				$scope.result = "请求成功"+resp;
			},function(n){
				$scope.result ="请求失败"+n;
			})
		}
	]);

</script>
</html>