<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/back/resource/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/back/resource/js/jquery.js" ></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="/back/page/#">首页</a></li>
    <li><a href="/back/page/#">流程图</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
   
   <div class="formtitle1"><span>流程图</span></div>
   
   
   <ul class="flow">
   <li><span><img src="/back/resource/images/lc01.png"></div></li>   
   <li><span><img src="/back/resource/images/lc02.png"></div></li>   
   <li><span><img src="/back/resource/images/lc03.png"></div></li>
   <li><span><img src="/back/resource/images/lc04.png"></div></li>
   <li><span><img src="/back/resource/images/lc05.png"></div></li>
   <li><span><img src="/back/resource/images/lc06.png">项目结项</a><i>(1)</i></li>
   </ul>
    
    
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
