<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/back/resource/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/back/resource/js/jquery.js" ></script>
<script type="text/javascript">
$(function(){	
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>


</head>

<body style="background:url(../resource/images/topbg.gif)/*tpa=http://www.17sucai.com/preview/423511/2015-10-16/web/web/images/topbg.gif*/ repeat-x;">

    <div class="topleft">
    <a href="/back/page/main.html"  target="_parent"><img src="/back/resource/images/logo.png" /></a>
    </div>
        
    <ul class="nav">
    <li><a href="/back/page/default.html"  target="rightFrame" class="selected"><img src="/back/resource/images/icon01.png" /><h2>工作台</h2></a></li>
    <li><a href="/back/page/imgtable.html"  target="rightFrame"><img src="/back/resource/images/icon02.png" /><h2>模型管理</h2></a></li>
    <li><a href="/back/page/imglist.html"   target="rightFrame"><img src="/back/resource/images/icon03.png" /><h2>模块设计</h2></a></li>
    <li><a href="/back/page/tools.html"   target="rightFrame"><img src="/back/resource/images/icon04.png" /><h2>常用工具</h2></a></li>
    <li><a href="/back/page/computer.html"  target="rightFrame"><img src="/back/resource/images/icon05.png" /><h2>文件管理</h2></a></li>
    <li><a href="/back/page/tab.html"   target="rightFrame"><img src="/back/resource/images/icon06.png" /><h2>系统设置</h2></a></li>
    </ul>
            
    <div class="topright">    
    <ul>
    <li><span><img src="/back/resource/images/help.png">帮助</a></li>
    <li><a href="/back/page/#">关于</a></li>
    <li><a href="/back/outLogin"  target="_parent">退出</a></li>
    </ul>
     
    <div class="user">
    <span>admin</span>
    <i>消息</i>
    <b>5</b>
    </div>    
    
    </div>

</body>
</html>
